$pink : hsl(322, 100%, 66%);
$light-pink : hsl(321, 100%, 78%); 
$light-red : hsl(0, 100%, 63%); 

$cyan : hsl(192, 100%, 9%);
$blue : hsl(207, 100%, 98%);

// curved bgs variables
$bg-top-1-height : 7rem;
$row-content-width : 43%;
$row-illustration-width : 43%;